<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72186085234-ubjfiiduun4e99ianmdip00b7si2auvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72186085234-ubjfiiduun4e99ianmdip00b7si2auvm</string>
	<key>API_KEY</key>
	<string>AIzaSyDeNHmUVxCy9m2KZPS8ECynasWWGaXMJCk</string>
	<key>GCM_SENDER_ID</key>
	<string>72186085234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.dhawan.cheftastic</string>
	<key>PROJECT_ID</key>
	<string>cheftastic-2</string>
	<key>STORAGE_BUCKET</key>
	<string>cheftastic-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72186085234:ios:3990759917d9e38b6567eb</string>
</dict>
</plist>